.DS_Store
/data/*
!/data/.gitkeep
exercises/stadt-neuss-herbstpflanzung-2023.csv
exercises/rhein-kreis-neuss-flughafen-weltweit.csv
exercises/airports.sqlite
exercises/trees.sqlite
project/pipeline_changes.py
project/ToDo.txt
quit
pipeline.txt

exercises/bondIssuance.sqlite
exercises/Graphs-Chapter-5-02082022.xlsx
exercises/~$Graphs-Chapter-5-02082022.xlsx
exercises/country-stats.sqlite
